<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	
	<context:component-scan base-package="br.com.ntk" />
	<task:annotation-driven/>
	
	<!-- SET default mail properties -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="25"/>
        <property name="username" value="edubossa@gmail.com"/>
        <property name="password" value="xxxxx"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>
	
	 <bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="to">
        	<array>
        		<value>eduardo.silva@ntk-consult.com.br</value>
        		<value>edubossa@gmail.com</value>
        	</array>
        </property>
        <property name="from" value="edubossa@gmail.com"></property>
        <property name="subject" value="ERRO NA TRANSACAO PAYGOWEB"/>
    </bean>
	
		
</beans>